@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins&display=swap');

:root {
    --main-bg-color: #5DC1D9;
    --left-bg-color: #282D30;
}
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1200px;
    margin: auto;
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 20px;
}
img {
    width: 170px;
    height: 170px;
    border: 10px solid var(--main-bg-color);
    border-radius: 50%;
}
a {
    color: #fff;
}
#left {
    width: 25%;
    background-color: var(--left-bg-color);
    display: flex;
    align-items: start;
    text-align: right;
}
#left > .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
#left .avatar {
    margin: 10px auto 10px auto;
}
#left .card {
    align-self: self-end;
    padding: 0.2em;
}
#left .card ul {
    list-style-type: none;
}
#left .header {
    display: inline-block;
    margin: 5px; 
    padding: 5px;
    background-color: var(--main-bg-color);
    font-size: 1.3em;
    color: #000;
}
#left .content {
    padding-right: 0.8em;
}
#right {
    width: 75%; 
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left;
}
#right > .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}
#right .head {
    padding-left: 30px;
    margin-top: 20px;
    height: 1;
    width: 100%;
    background-color: var(--main-bg-color);
    font-size: 2em;
    color: #fff;
}
#right .head h1:nth-child(2) {
    font-size: 1.7em;
}
#right .card {
    align-self: self-end;
    padding: 5px;
}
#right .header {
    display: inline-block;
    margin: 5px; 
    padding: 5px;
    background-color: var(--main-bg-color);
    font-size: 1.3em;
    color: #fff;
}
#right .content {
    padding-left: 1em;
}
#right .card h3,
#right .card span {
    display: inline;
}

@media (max-width: 1000px) {
    body {
        font-size: 0.9em;
    }
    img {
        width: 130px;
        height: 130px;
    }
    #left .card {
        padding: 0.2em;
    }
}
@media (max-width: 830px) {
    body {
        font-size: 0.8em;
    }
    img {
        width: 130px;
        height: 130px;
    }
    #left .card {
        padding: 0.2em;
    }
}
@media (max-width: 700px) {
    body {
        font-size: 0.7em;
    }
    img {
        width: 100px;
        height: 100px;
    }
    #left .card {
        padding: 0.2em;
    }
}
@media print {
    /* здесь будут стили для печати */
    @page {
        margin: 0;
    }
    body {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    #left > .container {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 20px;
    }
    #left .header {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: #000;
    }
    #left .content,
    #left .content h3 {
        padding-right: 10px;
        font-size: 18px;
    }
    #left .content a {
        text-decoration: none;
        color: #000;
    }
    #right .head {
        padding-left: 30px;
        width: 100%;
        color: #000;
    }
    #right .head h1,
    #right .head h1:nth-child(2) {
        display: inline-block;
        font-size: 30px;
    }
    #right .head h5 {
        font-size: 20px;
    }
    #right .header {
        display: inline-block;
        padding: 2px;
        font-size: 20px;
        color: #000;
    }
    #right .content {
        padding-left: 20px;
        font-size: 18px;
    }
}