@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1608377205700-249f4b48b180?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #111;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Old Standard TT', sans-serif;
    font-style: italic;
}

/* ==================================== */
:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 5px;
  }

  details {
    margin: 40px;
    position: fixed;
    margin: 50px 70%;;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 312px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
/* ==================================== */
.container {
    max-width: 900px;
    margin: auto;
}

.avatar {
    width: 250px;
    /* margin: 15px; */
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.top {
    padding-left: 20px;
    display: flex;
    background: rgba(255, 255, 255, 0.95);
}

.top-text {
    margin: auto 20px;
    /* color: #fff; */
}

.top p {
    /* color: #86898f; */
    margin: 15px 0;
    /* font-style: normal; */
    font-weight: bold;
}
.card {
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.card h2 {
    text-align: center;
    color: rgb(255, 111, 111);
}

.contact h2 {
    text-align: center;
}

.contact-li li {
    border-bottom: 1px solid #ccc;
}

/* a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(19, 7, 124);
} */

.bg-yellow {
    background: #fff9dc
}

.bg-green {
    background: #e5ffe7
}

.bg-red {
    background: #9af3ff
}


.list {
    padding-left: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
    margin-top: 20px;
}

.table td:nth-child(1) {
    color: blue ;
    width: 15%;
}

.table td:nth-child(2), td:nth-child(3) {
    color:darkgreen ;
}

.table tr:nth-child(even) {
    background: #FFEFD5 ;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: 0;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {    
    display: block;
    background: #111;
    color: #fff;
    padding: 15px 20px;
    margin: auto;
    /* bottom: none; */
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.7;
}


@media (max-width: 700px) {
    .top {
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
    }
    details {
        /* margin: 40px; */
        /* position: fixed; */
        margin: 30px 85%;;
        /* font-family: Arial, Helvetica, sans-serif; */
        /* font-style: normal; */
      }
}